@{
    ViewData["Title"] = "Users";
}
@model SimpleAppMvc.Models.UserModel 
<div class="container">
    <div class="row">
        <h4>
            User Create
        </h4>
    </div>
    <form asp-action="AddUser">
        <div class="form-group row mb-3">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="username" name="username" asp-for="UserName" required>
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="firstname" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="firstname" name="firstname" asp-for="FirstName">
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="lastname" name="lastname" asp-for="LastName">
            </div>
        </div>
        <div class="form-group row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="email" name="email" asp-for="Email" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <a class="form-control btn btn-sm btn-primary mr-2" asp-action="Index">Back</a></button>
            </div>
            <div class="col-sm-2">
                <button class="form-control btn btn-sm btn-primary" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>
